.container-btn-mode{
    position: absolute;
    top:20px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
  }
  .btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }
  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
  }
  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .active{
    background-color:black;
    color:#ffcd5c !important;
  }
  /* .prevNext a{
    cursor: pointer;
    border: none;
    color: #2c3e50;
    background: #d5fd24;
    box-shadow: 1px 1px 30px -5px #b9e00b;
    transition: box-shadow 600ms ;
  } */
  .dark-mode{
    background: #313030 !important;
    transition:background .5s !important;
    -webkit-transition:background .5s !important;
    -moz-transition:background .5s !important;
    -ms-transition:background .5s !important;
    -o-transition:background .5s !important;
}
  .dark-mode2{
    background: #0e0e0e !important; 
    transition:background .5s !important;
  }
  .dark-mode3{
    background: #251f30 !important; 
    transition:background .5s !important;
    color: #ffffff;
    
  }
  .accordionContent{
    background: #3d3d3d !important; 
    transition:background .5s !important;
    color: #ffffff;
  }
  .dark-mode h1, .dark-mode h2, .dark-mode .btn-contact{
    color:white;
  }
  .dark-mode .btn-mode{
    background-color:#1A1C1E;
    border:1px solid white;
    color:white;
  }
  @media only screen and (max-width: 376px) {
    .container-btn-mode{
      right: 0px;
    }
  }

  @media only screen and (max-width: 368px) {
    .container-btn-mode{
      margin-top: 65px;
    }
    .text {
        font-size: 30px;
    }
  }